#main-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: flex-start;
}

#client-squares {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  width: 90%;
}

.client-container {
  margin: 5px;
  height: 100px;
  width: 100px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: flex-start;
  align-content: center;
  border: 2px solid darkgrey;
}

.client-container p {
  width: 100%;
  text-align: center;
}

.client-container .top-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.client-container .bottom-bar {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.title {
  width: 100%;
  text-align: center;
}

.maintenance-mode {
  background: black !important;
}

.maintenance-mode #text:before {
  content: "🚧";
}

.maintenance-mode #text:after {
  content: "🚧";
}

.maintenance-mode .bottom-bar {
  visibility: hidden !important;
}

.maintenance-mode .top-bar {
  visibility: hidden !important;
}

.kill-mode {
  background: black !important;
}

.kill-mode #text:before {
  content: "😵";
}

.kill-mode #text:after {
  content: "😵";
}

.kill-mode .bottom-bar {
  visibility: hidden !important;
}

.kill-mode .top-bar {
  visibility: hidden !important;
}

.show-banner {
  font-size: 15px;
}

.msg-severity-low {
  background: rgba(164,255,156,0.51);
  color: rgba(0,255,23,1);
}

.msg-severity-medium {
  background: rgba(255,249,143,0.51);
  color: rgba(185,164,1,1);
}

.msg-severity-high {
  background: rgba(255,142,141,0.51);
  color: rgba(255,2,7,1);
}

.icon {
  height: 15px;
}

.paid {
  font-weight: bolder;
  color: green;
}

.free {
  font-weight: bolder;
  color: red;
}